body {
    background-color: #B4AA99;
    margin: 0
}

.hi {
    gap: 5px;
    padding: 50px;
    float: none;
    display: grid;
    grid-template-columns: 45% 55%;
    text-overflow: clip;
}

.hi2 {
    gap: 15px;
    padding: 50px;
    float: none;
    display: grid;
    grid-template-columns: 55% 45%;
    text-overflow: clip;
}

h1 {
    position: absolute;
    text-align: center;
    text-overflow: clip;
    padding: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 5000px;
}

li a {
    border-style: solid;
    border-width: 1px;
    border-color: #827355;
    float: left;
    display: block;
    width: 32vw;
    background-color: #B8A787;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    background-color: #d4c09a;
}

#on {
    background-color: #d4c09a;
}

.text {
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 4px 8px   rgba(0, 0, 0, 0.75);
    background-color: #7FB3AA;
    border-radius: 0.7rem; 
    text-align: center; 
    font-weight: bold;
}

#img {
    border-radius: 0.7rem;
    box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.85);
}

p {
    font-size: large;
    color: #474237;
}

h2 {
    color: #38342b;
    text-align: center;
    font-size: 60px;
}

#bottom {
    border-radius: 0.7rem;
    box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.85);
    margin: 52.5px;
}